<div class="reset-password-container">
  <h2 class="text-center">Reset Password</h2>
  <p class="text-center">Please set your new password</p>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="mb-4">
        <input type="password" class="form-control custom-input" formControlName="passnew" placeholder="Pick a password" required>
        <div *ngIf="resetForm.get('passnew')?.invalid && resetForm.get('passnew')?.touched" class="alert alert-danger">
          Password must be at least 7 characters long.
        </div>
      </div>
      <p class="text-center password-guideline">Use at least one letter, one number, and seven characters.</p>
      <div class="mb-4">
        <input type="password" class="form-control custom-input" formControlName="passconfirm" placeholder="Confirm password" required>
        <div *ngIf="resetForm.errors?.['mismatch'] && resetForm.get('passconfirm')?.touched" class="alert alert-danger">
          Passwords do not match.
        </div>
        
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-blue submit-button" [disabled]="loading">
      <i class="fa-solid fa-lock"></i>
      <span *ngIf="!loading">RESET</span>
      <span *ngIf="loading">Please wait...</span>
    </button>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </form>
</div>
