/* Định dạng cho container chính */
.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Chiều cao toàn màn hình */
  text-align: center;
  padding: 20px;
}

/* Định dạng cho phần văn bản */
.reset-password-container p {
  max-width: 400px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Định dạng cho input */
.custom-input {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; /* Căn giữa các input */
}

/* Định dạng cho nút submit */
.submit-button {
  width: 100%;
  max-width: 200px;
  margin: 20px auto 0;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px; /* Bo tròn góc */
  background-color: #0099ff; /* Màu xanh */
  border: none;
}

.submit-button i {
  margin-right: 5px;
}
