<div class="container-fluid">
  <footer class="py-4 text-light">
    <div class="">
      <div class="footerc d-flex justify-content-evenly">
        <div class="items">
          <h3>Rent Cars</h3>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Search Cars and Rates</a></li>
          </ul>
        </div>
        <div class="items">
          <h3>Customer Access</h3>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Manage My Booking</a></li>
            <li><a href="#" class="text-light">My Wallet</a></li>
            <li><a href="#" class="text-light">My Car</a></li>
          </ul>
        </div>
        <div class="items">
          <h3>Join Us</h3>
          <ul class="list-unstyled"></ul>
        </div>
      </div>
    </div>
  </footer>
</div>
