.container-fluid {
  background: rgb(238, 238, 238);
  color: black;
}

.footerc .items h5 {
  color: black;
}

.footerc .items a {
  text-decoration: none;
  color: black;
}

.footerc .items a:hover {
  text-decoration: underline;
}

.text-light {
  color: black !important;
}
