// Personal Infomation
.PersonalInfo {
  h2 {
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .btn-secondary {
    margin-right: 10px;
  }
  .button-profile {
    text-align: center;
  }
}

// Security
.Security {
  .form-group {
    margin-top: 30px;
  }
  .btn-container {
    text-align: center;
    margin-top: 10px;
  }
  .btn-secondary {
    margin-right: 10px;
  }
  .button-profile {
    text-align: center;
  }
}
